<div class="full-page">
  <div class="leftside">
    <h1>Our History</h1>
    <p class>
      In the heart of Barcelona's medieval district, El Born Bar welcomes both locals and visitors with hospitality. We are steps from the Picasso museum and ten minutes from the beach. Our tapas combine the best Catalan culinary traditions with modern sensibility. 
    </p>
</div>
</div>