<h1> Contact Us </h1>

<form method="POST", action="/contact">
  First name:
   <textarea name="firstname"></textarea>
  Last name:
   <textarea name="lastname"></textarea>
  E-mail:
   <input type="e-mail"></textarea>
  Phone:
   <textarea name="phone"></textarea>
  Your comments:
   <textarea name="your_comments"></textarea>
   <input type="submit"> 
</form>