<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="js/main.js"></script>
	<title><%= @title %></title>
  </head>
  <body>
    <canvas id="layout_canvas"> </canvas>
    <div id="outer_container">
      <header>
        <nav> 
          <ul id="main_menu">
            <li class="menu_button"><a href="/about">About</a></li>
            <li class="menu_button"><a href="/menu">Menu</a></li>
            <li class="menu_button"><a href="/reservations">Reservations</a></li>
            <li class="menu_button"><a href="/contact">Contact</a></li>
          </ul>
        </nav>
      </header>
      <div class="page_content">
        <%= yield %>
      </div>
    </div>
  </body>
  <!--
  <footer>
    <p> © Copyright 2015, Bar Del Born</p>
  </footer>
  -->
</html>

