<div id="menu_page">
 
  <ul class="tabbed_menu">
    <li><a href="#" class="tab_link" onclick="showHideTab('food')">Food</a></li>
    <li><a href="#" class="tab_link" onclick="showHideTab('drink')">Drink</a></li>
  </ul>

  <div id="food" class="menu_block">

    <!--<h2>Food</h2>-->
    <h3>Tapas y Paella</h3>
    <ul class="menu_itemlist">
      <li>Bunyols de bacalla (Salt cod and parsley fritters) 4,60</li>
      <li>Seitons amb vinagre (Marinated silver backed anchovies) 4,80</li>
      <li>Pernil de gla (Cured Jabugo ham) 7,90</li>
      <li>Llagostins amb tartara casolana (Langoustines with tartar sauce) 5,95</li>
      <li>Navalles a la planxa amb oli d ́oliva verge (Grilled razor shells with lemon and virgin olive oil) 6,80</li>
      <li>Pop a la “Feira” (Galician style octopus with smoked paprika and extra virgin olive oil) 9,95</li>
      <li>Pebrots de Padron (Fried spicy green Padron peppers) 4,65</li>
      <li>Patates Braves (Fried potatoes with garlic mayonnaise and spicy smoked paprika sauce) 3,95</li>
      <li>Encenalls de carxofes cruixents (Fried and crispy artichoke shavings) 5,50</li>
      <li>Xoricets artesans d'Astorga a la sidra (Sizzling artesan Astorga chorizos braised in Asturian Cider) 4,80</li>
    </ul>

    <h3>Postres (Desserts)</h3>
    <ul class="menu_itemlist">
      <li>Pastis de formatge, pistatxo i fruita de la passio (Pistachio and passion fruit cheesecake) 5,80</li>
      <li>Mousse de xocolata blanc i negre (Dark and white chocolate mousse) 5,20</li>
      <li>Crema Catalana (Catalan creme brulee) 4,20</li>
      <li>Xarrup de llimona amb orujo (Lemon sorbet with Galician firewater) 4,80</li>
    </ul>

  </div>

  <div id="drink" class="menu_block">
    <!--<h2>Drink</h2>-->

    <h3>Cavas</h3>
    <ul class="menu_itemlist">
      <li>Mas Codina, Brut 14,50</li>
      <li>Gramona Imperial 26,00</li>
      <li>Castillo de Perelada, brut rose 14,80</li>
    </ul>

    <h3>Blancos (White)</h3>
    <ul class="menu_itemlist">
      <li>Parato Xarel·lo (D.O. Penedes) 11,90</li>
      <li>Gessami (D.O. Penedes) 16,80</li>
      <li>Mas Planell (D.O. Costers del Segre) 13,90</li>
      <li>Villa Narcisa (D.O. Rueda) 17,00</li>
      <li>Marieta (D.O. Rias Baixas) (Semi Seco) 14,85</li>
    </ul>

     <h3>Rojos (Reds)</h3>
    <ul class="menu_itemlist">
      <li>Finca Renardes (D.O. Penedes) 12,85</li>
      <li>Llebre (D.O. Costers del Segre) 14,50</li>
      <li>L' Inconscient (D.O.Q. Priorat) 21,00</li>
      <li>Camins del Priorat (D.O.Q. Priorat) 25,00</li>
      <li>Melquior, crianza (D.O. Rioja) 15,75</li>
    </ul>

  </div>
</div>
