@import url(http://fonts.googleapis.com/css?family=Lato);

/* base HTML elements styles */
body {
  font-family: 'Lato', serif;
}

header {
  top: 0;
  position: fixed;
  z-index: 1;
  margin: 0 auto;
  width: 900px;
}

canvas {
  position: absolute;
  top: 0;
  margin-left: 10px;
  width: 95%;
  height: 100%;
  border: 1px solid #000000;
  z-index: 10;
  /* background-image: set it in the javascript code */
}

/* ABOUT PAGE STYLES -- START */

/*Text area on the About page*/
.leftside {
  position: fixed;
  top: 20%;
  width: 200px;
  float: left;
  margin-left: 10px;
  font-family: 'Lato', sans-serif;
  background-color: rgba(255, 255, 255, 0.8);
  /*border-style: solid; added border to troubleshoot layout on about page*/
}

#bar_video {
  position: absolute;
  float: right;
  top: 100px;
  left: 300px;
  width: 700px;
  height: 500px; 
  margin-left: 10px;
  /*border-style: dashed; added border to troubleshoot layout on about page*/
}

/* video embed styling for About page */
#vimeo {
  width: 100%;
  height: 421px; 
}
/* ABOUT PAGE STYLES -- END */

/* CONTACT PAGE STYLES -- START */
#contact_lhs {
  position: absolute;
  float: left;
  top: 50px;
  /*border: solid; added to troubleshoot layout on contact page */
}

#contact_rhs {
  position: absolute;
  float: right;
  top: 50px;
  left: 600px;
  /*border: dashed; added to troubleshoot layout on contact page */
}

/* Contact Page map */
#map_canvas {
  width: 600px;
  height: 450px;
  background-color: #ccc;
}

#born_contact {
  width: 200px;
  position: relative;
  padding-top: 10px;
  font-family: 'Lato', serif;
}

#comment_form {
  height: 100px;
}

.form_container {
   top: 50px;
   border: 2px solid #1a1f1a;
   background: #ededed;
   background: -webkit-gradient(linear, left top, left bottom, from(#caccc2), to(#ededed));
   background: -webkit-linear-gradient(top, #caccc2, #ededed);
   background: -moz-linear-gradient(top, #caccc2, #ededed);
   background: -ms-linear-gradient(top, #caccc2, #ededed);
   background: -o-linear-gradient(top, #caccc2, #ededed);
   background-image: -ms-linear-gradient(top, #caccc2 0%, #ededed 100%);
   -webkit-border-radius: 21px;
   -moz-border-radius: 21px;
   border-radius: 21px;
   -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
   font-family: 'Lato', 'Helvetica Neue',Helvetica,sans-serif;
   text-decoration: none;
   vertical-align: middle;
   min-width: 300px;
   padding: 20px;
   width: 360px;
}

.submit_container {
   margin: 8px 0;
   text-align: right;
}

.submit_button {
   border: 1px solid #3a7196;
   background: #2f8a56;
   background: -webkit-gradient(linear, left top, left bottom, from(#11ab44), to(#2f8a56));
   background: -webkit-linear-gradient(top, #11ab44, #2f8a56);
   background: -moz-linear-gradient(top, #11ab44, #2f8a56);
   background: -ms-linear-gradient(top, #11ab44, #2f8a56);
   background: -o-linear-gradient(top, #11ab44, #2f8a56);
   background-image: -ms-linear-gradient(top, #11ab44 0%, #2f8a56 100%);
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #babaab 0 1px 0;
   color: #10120e;
   font-family: 'Lato', helvetica, serif;
   padding: 8.5px 18px;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
}

.submit_button:hover {
   border: 1px solid #447314;
   text-shadow: #31540c 0 1px 0;
   background: #6aa436;
   background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
   background: -webkit-linear-gradient(top, #8dc059, #6aa436);
   background: -moz-linear-gradient(top, #8dc059, #6aa436);
   background: -ms-linear-gradient(top, #8dc059, #6aa436);
   background: -o-linear-gradient(top, #8dc059, #6aa436);
   background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
   color: #fff;
}

.submit_button:active {
   text-shadow: #31540c 0 1px 0;
   border: 1px solid #447314;
   background: #8dc059;
   background: -webkit-gradient(linear, left top, left bottom, from(#6aa436), to(#6aa436));
   background: -webkit-linear-gradient(top, #6aa436, #8dc059);
   background: -moz-linear-gradient(top, #6aa436, #8dc059);
   background: -ms-linear-gradient(top, #6aa436, #8dc059);
   background: -o-linear-gradient(top, #6aa436, #8dc059);
   background-image: -ms-linear-gradient(top, #6aa436 0%, #8dc059 100%);
   color: #fff;
}
/* CONTACT PAGE STYLES -- END */

.page_content {
  top: 10;
  left: 10px;
  width: 95%;
  padding: 5px;
  padding-top: 10px;
  margin: 0 auto;
  z-index: -1;
}

/* NAVIGATION BAR STYLES - START */
/* style menu buttons */
.menu_button {
  font-size: 30px;
  color: black; /*rgb(0,0,0);*/
  text-shadow: 1px 4px 8px #000000;
  font-family: 'Lato', serif;
  text-decoration: none;
  vertical-align: middle;
}

.menu_button:hover {
  color: rgb(255,255,255);
  text-shadow: 2px 2px 4px #000000;
}

.menu_button:active {
  border-top-color: rgba(0,0,0);
  background: rgba(0,0,0);
  color: rgb(21,21,21);
}

a:visited {
  color: rgb(21,21,21);
}

/* Make the menu sticky to the top of page */
#main_menu {
  position: fixed;
  top: 0;
  left: 5px;
  width: 90%;
  border: none;
  z-index: 2;
  height: 40px;
  text-align: center;
  padding-bottom: 10px;
  color: rgb(0,0,0); 
}

/* Remove the underline from the anchors in the menu */
#main_menu a {
  text-decoration: none;
  display: inline-block;
  padding: 0 12px;
}

/* Remove default padding from the menu list - i.e. the bullets */
#main_menu ul {
  height: auto;
  margin: 5px;
}

/* set the menu to display horizontally, with spacing between menu items */
#main_menu li {
  display: inline;
  line-height: 20px;
  padding: 10px 10px 20px 20px;
  position: static;
  opacity: 0.9;
}

/* NAVIGATION BAR STYLES - END */

/* RESERVATION PAGE STYLES -- START */
.form_container_res {
   position: relative;
   top: 50px;
   left: 20%;
   border: 2px solid #1a1f1a;
   background: #ededed;
   background: -webkit-gradient(linear, left top, left bottom, from(#caccc2), to(#ededed));
   background: -webkit-linear-gradient(top, #caccc2, #ededed);
   background: -moz-linear-gradient(top, #caccc2, #ededed);
   background: -ms-linear-gradient(top, #caccc2, #ededed);
   background: -o-linear-gradient(top, #caccc2, #ededed);
   background-image: -ms-linear-gradient(top, #caccc2 0%, #ededed 100%);
   -webkit-border-radius: 21px;
   -moz-border-radius: 21px;
   border-radius: 21px;
   -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
   font-family: 'Lato', 'Helvetica Neue',Helvetica,sans-serif;
   text-decoration: none;
   vertical-align: middle;
   min-width: 300px;
   padding: 20px;
   width: 700px;
   height: 400px;
}

.form_field_res {
   border: 1px solid #2e2820;
   background: #e3d1bd;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   color: rgb(0,0,0); /*#736e61;*/
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding: 8px;
   margin-bottom: 20px;
   width: 280px;
   font-size: 15px;
}

.submit_container_res {
   margin: 8px 0;
   text-align: right;
   clear: both;
}

#form_lhs {
  position: relative;
  float: left;
}

#form_rhs {
  position: relative;
  float: right;
}

#res_wrapper {  
  background-color: rgba(255, 255, 255, 0.7);
  height: 70%;
  width: 70%;
  padding-top: 40px;
  position: relative;
  margin: 30px auto;
  display: block;
}

/* RESERVATION PAGE STYLES -- END */


/* ALL FORMS STYLES -- START */
.form_field {
   border: 1px solid #2e2820;
   background: #e3d1bd;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   color: rgb(0,0,0); /*#736e61;*/
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding: 8px;
   margin-bottom: 20px;
   width: 350px;
   font-size: 15px;
}

.form_field:focus {
   background: #cccbcf;
   color: rgb(0,0,0); /*#c7bbad;*/
}

.form_container h2 {
   text-shadow: #dedede 0 1px 0;
   font-size: 18px;
   margin: 0 0 10px 0;
   font-weight: bold;
   text-align: center;
}

.form_title {
   margin-bottom: 10px;
   color: #0f0c09;
   text-shadow: #dedede 0 1px 0;
}
/* ALL FORMS STYLES -- END */


/* MENU PAGE STYLES -- START */

.tab_link {
  /*border-top: 1px solid #030608;*/
  background: #bac7cf;
  background: -webkit-gradient(linear, left top, left bottom, from(#d6d8d9), to(#bac7cf));
  background: -webkit-linear-gradient(top, #d6d8d9, #bac7cf);
  background: -moz-linear-gradient(top, #d6d8d9, #bac7cf);
  background: -ms-linear-gradient(top, #d6d8d9, #bac7cf);
  background: -o-linear-gradient(top, #d6d8d9, #bac7cf);
  padding: 13px 26px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 2px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 2px 0;
  box-shadow: rgba(0,0,0,1) 0 2px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: rgb(0,0,0); 
  font-size: 24px;
  font-family: 'Lato', serif;
  text-decoration: none;
  vertical-align: middle;
 }

.tab_link:hover {
  border-top-color: #4b5359;
  background: #4b5359;
  color: #ccc; 
  text-shadow: 1px 4px 8px #000000;
}

.tab_link:active {
  border-top-color: #091117;
  background: #091117;

   border-top-color: #0b0c0d;
   background: #0b0c0d;
}

/* Remove the underline from the anchors in the menu */
.tabbed_menu a {
  text-decoration: none;
  display: inline-block;
  padding: 0 12px;
  text-shadow: 1px 4px 8px #000000;
}

.tabbed_menu a:visited {
  text-decoration: none;
  display: inline-block;
  padding: 0 12px;
  text-shadow: 1px 4px 8px #000000;
}

/* Remove default padding from the menu list - i.e. the bullets */
.tabbed_menu ul {
  height: auto;
  /* padding: 10px 0px; */
  margin: 5px;
}

/* set the menu to display horizontally, with spacing between menu items */
.tabbed_menu li {
  display: inline;
  line-height: 30px;
  padding: 10px 10px 20px 20px;
  position: static;
  opacity: 0.9;
}

/* Make the menu sticky to the top of page */
.tabbed_menu  {
  position: fixed;
  top: 40;
  left: 5px;
  width: 90%;
  border: none;
  z-index: 2;
  height: 40px;
  text-align: center;
  padding-bottom: 10px;
}

/* Menu page food/drink divs */
.menu_block {
  padding-top: 40px;
  margin-top: 40px;
  width: 80%;
  height: 70%;
  margin: 30px auto;
  text-align: center;
  font-family: 'Lato', sans-serif;
  background-color: rgba(255, 255, 255, 0.7);
}

/* Menu page list styles */
.menu_itemlist {
  list-style-type: none;
}

#food {
  display: block;
}

#drink {
  display: none;
}

#menu_page {
  width: 100%;
  height: 100%;
}

/* MENU PAGE STYLES -- END */

   
#outer_container {
  position: relative;
  left: 5px;
  width: 100%;
  margin-top: 0;
  padding: 5px;
  margin: 0 auto;
  z-index: 10;  /* had to set z-index of the page content outer container same as the canvas z-index */
}

/* sticky footer */
#footer {
  position: absolute;
  bottom: -10;
  z-index: 1;
  margin: 0 auto;
  width: 90%;
  background-color: rgba(0,0,0, 0.5);
}

